
.search-input{
    color: rgb(94, 94, 94);
    font-weight: 600;
    font-family: Inter;
    opacity: 0;
    width: 0px;
    padding: 10px;
    border-radius: 2em;
    border-style:none;
    border-width: 0.1em;
    background-color: rgb(255, 255, 255);
    transform: translateY(-10px);
    transition: 250ms linear;
}

.search-input.show{
    width: 180px;
    opacity: 1;
    transform: translateX(0px);
    transition: 50  0ms linear;

}


