@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Keyboard&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: ubuntu ;
  box-sizing:border-box;
  
}
.container-layout{
  display: block;
}


:root {
  --primary: #070A40;
  --secundary: #3834BF;
  --background: #C5CCD9;
  --background2: #f2f2f2;
  --color-text-1: #000000;
  --color-text-2: #333333;
  --accent: #1D2173;
  --font-roboto:"Roboto", sans-serif;
  --font-keyboard: "Libertinus Keyboard", system-ui;
  --font-inter:"Inter", sans-serif;
  --font-flower:"Indie Flower", sans-serif;
  --font-julius:"Julius Sans One", sans-serif;
  


}



