

@media(max-width: 500px){
    .layout-writer{
        display: flex;
        flex-direction: column;
        
    }
    .add-content-type{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media(min-width: 500px){
    .layout-writer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 70%;
    margin: auto;
    
}
}

.write-content {
    background-color:#bfeaff;
    padding: 20px;  
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(4, 109, 194);
    display: flex;
    flex-wrap: wrap;
    justify-content:left;  
    flex-direction: column;
    
    
    
    
}

.add-content-type {
    display: flex;
    flex-direction:row;
    gap: 10px;
    justify-content: space-between;
    background-color: #d6d6d6;
    border-radius: 0px 5px 5px 0px;
    border-right: 1px dashed rgb(134, 134, 134);
    border-bottom: 1px dashed rgb(134, 134, 134);
    border-top: 1px dashed rgb(134, 134, 134);
    padding: 20px;
    

}


.input-type{
    width: 100%;
    max-width: calc(100% - 30px);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border:#326cffc7  0.1em;
    border-style: outset;
    color: #40311E;
    transition:all 0.2s ease-in-out;
    

}
.input-type:hover{
    cursor: pointer;

}
::placeholder{
    color: #000000;
    font-family: var(--font-ubuntu);
    font-weight: 500;
    
}


.button-add-content{
   
    border:none;
    border-radius: 4px;
    margin: 5px;
    font-size: 18px;
    font-family: var(--font-flower);
    font-weight: 1000;
    border: solid rgb(124, 124, 124) 2px;
    color:#40311E;
}

.button-add-content:hover{
    background-color: #f8f8f8;
    cursor:pointer;
}

.input-type.para{
    
  margin-left: 30px;
  width: calc(100% - 90px);
  background-color: #fff7f7;


}