.layout-writer {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    margin: 50px;
}

.write-content {
    background-color: rgb(204, 192, 255);
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    border: 1px dashed rgb(134, 134, 134);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;  
    flex-direction: column;
    
}

.add-content-type {
    display: flex;
    flex-direction: column;

    background-color: #b8d1ff;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px dashed rgb(134, 134, 134);
    border-bottom: 1px dashed rgb(134, 134, 134);
    border-top: 1px dashed rgb(134, 134, 134);
    padding: 20px;

}


.input-type{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;

}
button{
    border:none;
    border-radius: 4px;
    margin: 5px
    
}

button:hover{
    background-color: #f8f8f8;
    cursor:pointer;
}

.input-type.para{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 500px;
    overflow-x: auto;
}